<footer id="footerLamaApp" class="footer">
    <!--
    <a id="to-top" (click)="toTop()" class="btn btn-dark-LaMa btn-lg">
      <i class="fa fa-chevron-up fa-fw fa-1x"></i>
    </a>
    -->
  <div class="footer__copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-inline">
            <li>&copy;&nbsp;2018 Foto Lama</li>
            <!--<li><img src="../assets/img/BANNER_FotoLama_lgo.jpg" class="img-responsive" style="width: 50px"></li>-->
            <li><a href="mailto:info.fotolama@gmail.com"><i class="fa fa-envelope fa-fw fa-2x" style="color:#a52019"></i></a></li>
            <li><a href="https://www.facebook.com/StudioFotoLama/" target="_blank"><i class="fa fa-facebook fa-fw fa-2x"></i></a></li>
            <li><a href="https://www.instagram.com/studio_foto_lama/" target="_blank"><i class="fa fa-instagram fa-fw fa-2x"></i></a></li>
          </ul>
        </div>
          <div class="col-md-6">
            <p class="credit">Template by <a href="https://bootstrapious.com/free-templates" class="external" target="_blank">Bootstrapious templates</a></p>
          </div>
      </div>
    </div>
  </div>
</footer>
