<footer id="footerLamaApp" class="footer">
    <!--
    <a id="to-top" (click)="toTop()" class="btn btn-dark-LaMa btn-lg">
      <i class="fa fa-chevron-up fa-fw fa-1x"></i>
    </a>
    -->
  <div class="footer__copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-inline">
            <!--
            <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:lama@gmail.com">lama@gmail.com</a>
            -->
            <li><img src="../assets/img/transporter.jpg" class="img-responsive" style="width: 100px"></li>
            <li><a href="mailto:info.fotolama@gmail.com"><i class="fa fa-envelope fa-fw fa-2x" style="color:#f20e2f"></i></a>
            <li>
              <a href="#" target="_blank"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fa fa-instagram fa-fw fa-2x"></i></a>
            </li>
            <!--
            <li>
              <a href="#" target="_blank"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
            </li>
            -->
          </ul>
        </div>
        <div class="col-md-6">
          <p class="credit">Template by <a href="https://bootstrapious.com/free-templates" class="external">Bootstrapious templates</a></p>
          <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
        </div>
      </div>
    </div>
  </div>
</footer>
