<section id="test" class="section--no-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Address</h1>
        <p class="lead margin-bottom--big">You can find us at</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>LaMa Photography | Design</strong>
        </h4>
        <p>Oude baan 324
          <br/>3000 Leuven, Belgium</p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> +32 (0)498 66 95 35</li>
          <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:lama@gmail.com">lama@gmail.com</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="#" target="_blank"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <!--
          <li>
            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
          </li>
          -->
          <li>
            <a href="#" target="_blank"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#" target="_blank"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
      </div>
    </div>
  </div>
</section>
<section id="contact" class="map" class="section--no-padding-bottom">
  <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDoMZARe-HaeoVl5IkDWXOj6i5pz90_CH4&q=place_id:EiJPdWRlYmFhbiAzMjQsIDMwMDAgTGV1dmVuLCBCZWxnacOr"
  ></iframe>
  <br/>
  <!--
  <small>
    <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Oudebaan,324,,3000,Leuven,Belgium&amp;ie=UTF8"></a>
  </small>
  -->
</section>
