<section class="section--padding-bottom-small">
  <div class="container">
    <!--<div class="row">-->
    <!--<div class="col-md-12 text-center">-->
    <h1>{{'home.projects' | translate}}</h1>
    <!--
    <div class="row">
      <div class="col-sm-6">
        <div class="post">
          <div class="image"><a href="#"><img src="assets/img/blog4.jpg" alt="" class="img-responsive"></a></div>
          <h3><a href="#">Extreme Black Project</a></h3>
          <p class="post__intro">These pictures have been inspired by the work of Pierre Soulages, the french "painter of black,". He defined the term “Outrenoir”, which may be translated as “the other side of black” or “beyond black” to characterize his painting.</p>
          <p class="post__intro">Black reveals the light and the light allows the black to come into brightness, and becoming a luminous colour.</p>
          <p class="post__intro">It's  not a melody, it‘s a sustained chord played on a keyboard.</p>
          <p class="read-more"><a href="#" class="btn btn-ghost">Continue reading</a></p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="post">
          <div class="image"><a href="#"><img src="assets/img/blog5.jpg" alt="" class="img-responsive"></a></div>
          <h3><a href="#">Chaos Project</a></h3>
          <p class="post__intro">
            This project is a collaborative work between the Leuven Art School (SLAC) and the Leuven University. It is meant to represent Chaos through various art forms, photography, painting, sculpture, music,..<br />
            Personally I intended to represent Chaos as the repetition of changing patterns in a non-ordered way. This is a kind of positive approach to Chaos, no drama, but as the step before the birth, the birth of an idea, a feeling, an image. It’s a kind of path from deconstruction to construction.
          </p>
          <p class="read-more"><a href="#" class="btn btn-ghost">Continue reading</a></p>
        </div>
      </div>
    </div>
    -->
    <div class="row">
      <div class="col-sm-4">
        <div class="post">
          <div class="image"><a [routerLink]="['/photography']"><img src="https://res.cloudinary.com/dk4bt9duc/image/upload/v1520351350/Design/photography_voor_website.jpg" alt="" class="img-responsive"></a></div>
          <h3><a [routerLink]="['/photography']">{{'Navbar.Photo' | translate}}</a></h3>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="post">
          <div class="image"><a [routerLink]="['/design']"><img src="https://res.cloudinary.com/dk4bt9duc/image/upload/v1520351350/Design/banner_design_voor_website.jpg" alt="" class="img-responsive"></a></div>
          <h3><a [routerLink]="['/design']">{{'Navbar.Design' | translate}}</a></h3>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="post">
          <div class="image"><a [routerLink]="['/photobooth']"><img src="https://res.cloudinary.com/dk4bt9duc/image/upload/v1520351350/Design/banner_booth_in_a_bus_voor_website.jpg" alt="" class="img-responsive"></a></div>
          <h3><a [routerLink]="['/photobooth']">{{'Navbar.Booth' | translate}}</a></h3>
        </div>
      </div>
    </div>
  </div>
</section>
