<section>
  <div class="container">
    <h1>{{'contact.titel' | translate}}</h1>
    <div class="col-md-4">
      <h3><strong>Foto Lama</strong>
      </h3>
      <!--
      <div [ngSwitch]="browserLang">
        <ul class="menuLang" *ngSwitchCase="'fr'">
          <li>{{'contact.titel' | translate}}</li>
        </ul>
        <ul class="menuLang" *ngSwitchCase="'en'">
          <li>{{'contact.titel' | translate}}</li>
        </ul>
        <ul class="menuLang" *ngSwitchCase="'nl'">
          <li>{{'contact.titel' | translate}}</li>
        </ul>
      </div>
      -->
      <ul class="list-unstyled">
        <li><i class="fa fa-phone fa-fw"></i> +32 (0)499 43 78 35</li>
        <li><i class="fa fa-envelope fa-fw fa-2x"></i> <a href="mailto:info.fotolama@gmail.com">info.fotolama&amp;gmail.com</a>
        </li>
      </ul>
      <br>
      <ul class="list-inline">
        <li>
          <a href="#" target="_blank"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
        </li>
        <li>
          <a href="#" target="_blank"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
        </li>
      </ul>
    </div>
    <div class="col-md-8" [ngSwitch]="browserLang">
      <div *ngSwitchCase="'fr'">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSePPWU3CbfjraJo6wIfXxjuXhtI1mzM0JuTmoO7r4CtdzMOBg/viewform?hl=fr-be&embedded=true"
                        width="100%" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
      <div *ngSwitchCase="'en'">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSePPWU3CbfjraJo6wIfXxjuXhtI1mzM0JuTmoO7r4CtdzMOBg/viewform?hl=en&embedded=true"
                width="100%" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
      <div *ngSwitchCase="'nl'">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSePPWU3CbfjraJo6wIfXxjuXhtI1mzM0JuTmoO7r4CtdzMOBg/viewform?hl=nl-be&embedded=true"
                width="100%" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
      <!--
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScRO_oCqArJUmlNoXQ2yTntK5NOGk17bdFd7MDN9fWZogfXFA/viewform?embedded=true"
                      width="100%" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
       -->
    </div>
  </div>
</section>
<!--class="background-gray-lightest negative-margin"-->
