<header class="header">
  <div id="topNav" role="navigation" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="www.google.com" class="navbar-brand">LaMa Photography | Design</a>
        <div class="navbar-buttons">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
        </div>
      </div>
      <div id="navigation" class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#" class="external">Photography</a></li>
          <li><a href="#" class="external">Design</a></li>
          <li><a href="#" class="external">T1 Photoboot</a></li>
          <li><a href="#" class="external">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
